<div class="module-card">
  <div class="header">
    <h3>Inventario de Productos</h3>

    <div>
      <button class="btn btn-export me-2" (click)="exportarPDF()">
        <i class="bi bi-file-earmark-pdf"></i> Exportar PDF
      </button>
      <button class="btn btn-add" routerLink="/dashboard/inventario/nuevo">
        <i class="bi bi-plus-circle"></i> Nuevo Producto
      </button>
    </div>
  </div>

  <table class="table table-striped align-middle">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Stock</th>
        <th>Costo (₡)</th>
        <th>Estado</th>
        <th class="text-center">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of productos">
        <td>{{ p.idProducto }}</td>
        <td>{{ p.nombre }}</td>
        <td [class.bajo-stock]="p.stock <= p.minimo">{{ p.stock }}</td>
        <td>{{ p.costo | currency: 'CRC' }}</td>
        <td>
          <span [class.estado-activo]="p.estado === 1"
                [class.estado-inactivo]="p.estado === 0">
            {{ p.estado === 1 ? 'Disponible' : 'Agotado' }}
          </span>
        </td>
        <td class="text-center">
          <button class="btn btn-sm btn-edit me-2" 
                  [routerLink]="['/dashboard/inventario/editar', p.idProducto]">
            <i class="bi bi-pencil-square"></i>
          </button>
          <button class="btn btn-sm btn-delete" (click)="eliminarProducto(p)">
            <i class="bi bi-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>