<footer id="footer" class="footer dark-background">

    <div class="container">
        <div class="row gy-3">
            
            <div class="col-lg-3 col-md-6 d-flex">
                <i class="bi bi-geo-alt icon"></i>
                <div class="address">
                    <h4>Ubicación</h4>
                    <p>Avenida Central, Limón Centro</p>
                    <p>Costa Rica</p>
                </div>
            </div>

           
            <div class="col-lg-3 col-md-6 d-flex">
                <i class="bi bi-telephone icon"></i>
                <div>
                    <h4>Contáctanos</h4>
                    <p>
                        <strong>Teléfono:</strong> <span>+506 8888-9999</span><br>
                        <strong>Email:</strong> <span>nailstudio@salon.com</span><br>
                    </p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex">
                <i class="bi bi-clock icon"></i>
                <div>
                    <h4>Horario</h4>
                    <p>
                        <strong>Lunes - Sábado:</strong> <span>9:00 AM - 7:00 PM</span><br>
                        <strong>Domingo:</strong> <span>Cerrado</span>
                    </p>
                </div>
            </div>

          
            <div class="col-lg-3 col-md-6">
                <h4>Síguenos</h4>
                <div class="social-links d-flex">
                    <a href="#" class="twitter"><i class="bi bi-twitter-x"></i></a>
                    <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                    <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                    <a href="#" class="tiktok"><i class="bi bi-tiktok"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="container copyright text-center mt-4">
        <p>© <span>Copyright</span> <strong class="px-1 sitename">Nail Studio</strong> <span>Todos los derechos
                reservados</span></p>
       
    </div>

</footer>