<div class="dashboard-container">
  

    
 <aside class="sidebar">
  
    <a routerLink="/" class="sidebar-header d-flex align-items-center gap-3 px-3 py-4 text-decoration-none">
  <img src="assets/img/img-unas/logo1.png" alt="Logo" class="img-fluid" style="height: 50px;">
  <h4 class="sidebar-title">Dashboard</h4>
</a>
 
    <nav>
      <ul>
         <li><a routerLink="/dashboard/olap" routerLinkActive="active"><i class="bi bi-bar-chart-fill"></i> CRM</a></li>
        <li><a routerLink="/dashboard/inventario" routerLinkActive="active"><i class="bi bi-box-seam"></i> Productos</a></li>
        <li><a routerLink="/dashboard/servicios" routerLinkActive="active"><i class="bi bi-scissors"></i> Servicios</a></li>
        <li><a routerLink="/dashboard/categorias" routerLinkActive="active"><i class="bi bi-tags-fill"></i> Categorías</a></li>
        <li><a routerLink="/dashboard/citas" routerLinkActive="active"><i class="bi bi-calendar-check"></i> Citas</a></li>
        <li><a routerLink="/dashboard/usuarios" routerLinkActive="active"><i class="bi bi-people-fill"></i> Usuarios</a></li>
       
      </ul>
    </nav>
  </aside>


  <div class="main-content">
  <header class="topbar">
  <div class="user-info">
    <a class="username" routerLink="/dashboard/perfil" routerLinkActive="active"><img src="assets/img/img-unas/admin-profile.jpg" alt="Logo" class="img-fluid" style="width: 40 px; height: 30px; "> Dayanna Solano</a>
  </div>
</header>


    <main class="content">
      <router-outlet></router-outlet>
    </main>

  </div>
</div>
