<header id="header" class="header fixed-top">

  <!-- Top Bar -->
  <div class="topbar d-flex align-items-center">
    <div class="container d-flex justify-content-end justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-phone d-flex align-items-center d-none d-lg-block">
          <span>+506 8888-9999</span>
        </i>
        <i class="bi bi-clock ms-4 d-none d-lg-flex align-items-center">
          <span>Lunes - Sábado: 9:00 AM - 7:00 PM</span>
        </i>
      </div>
      <a href="#book-a-table" class="cta-btn">Administrador</a>
    </div>
  </div>
  <!-- /Top Bar -->

  <!-- Branding -->
  <div class="branding d-flex align-items-center">
    <div class="container position-relative d-flex align-items-center justify-content-between">
      <a href="#" class="logo d-flex align-items-center">
       <img src="assets/img/img-unas/logo1.png" alt="Logo" class="img-fluid">

      </a>

      <!-- Navigation Menu -->
      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="#hero" class="active">Inicio</a></li>
          <li><a href="#about">Nosotros</a></li>
          <li><a href="#menu">Servicios</a></li>
          <li><a href="#gallery">Galería</a></li>
          <li><a href="#contact">Contacto</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>
      <!-- /Navigation Menu -->
    </div>
  </div>
  <!-- /Branding -->

</header>
