.module-card {
  background: #fff;
  border-radius: 12px;
  padding: 25px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

h3 {
  color: #50280d;
  font-weight: 600;
}

.table th {
  background-color: #f0ba55;
  color: #50280d;
  font-weight: 600;
}

.table td {
  color: #50280d;
  vertical-align: middle;
}

/* Estados */
.estado-activo {
  color: #1b9448;
  font-weight: 600;
}

.estado-inactivo {
  color: #c03232;
  font-weight: 600;
}

/* Botones */
.acciones .btn {
  border: none;
  padding: 6px 10px;
  margin: 0 2px;
  border-radius: 6px;
  transition: 0.2s;
}

.btn-edit {
  background-color: #f0ba55;
  color: #50280d;
}

.btn-edit:hover {
  background-color: #d29a3a;
}

.btn-delete {
  background-color: #9a031e;
  color: white;
}

.btn-delete:hover {
  background-color: #6a0112;
}

.btn-add {
  background-color: #50280d;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 8px 18px;
  transition: 0.3s;
  font-weight: 500;
}

.btn-add:hover {
  background-color: #f0ba55;
  color: #50280d;
}
