<div class="olap-dashboard">

  
  <div class="kpi-cards">
    <div class="kpi-card">
      <i class="bi bi-cart-check"></i>
      <div>
        <h4>Ventas Totales</h4>
        <p>₡ 1,440,000</p>
      </div>
    </div>

    <div class="kpi-card">
      <i class="bi bi-wallet2"></i>
      <div>
        <h4>Margen ₡</h4>
        <p>₡ 155,800</p>
      </div>
    </div>

    <div class="kpi-card">
      <i class="bi bi-graph-up"></i>
      <div>
        <h4>Margen %</h4>
        <p>11%</p>
      </div>
    </div>
  </div>

  <div class="charts-grid">

    <div class="chart-card">
      <h5>Ventas Mensuales</h5>
      <canvas id="chartVentasMensuales"></canvas>
    </div>

    <div class="chart-card">
      <h5>Ventas por Servicio</h5>
      <canvas id="chartServicios"></canvas>
    </div>

    <div class="chart-card">
      <h5>Métodos de Pago</h5>
      <canvas id="chartPagos"></canvas>
    </div>

    <div class="chart-card">
      <h5>Canales de Venta</h5>
      <canvas id="chartCanales"></canvas>
    </div>
  </div>

</div>
