<div class="login-container">
  <div class="login-card">
    

    <h2>Iniciar Sesión</h2>


    <form (ngSubmit)="iniciarSesion()" class="mt-3">
      <div class="form-group mb-3">
        <label for="correo" class="form-label">Correo electrónico</label>
        <div class="input-group">
          <i class="bi bi-envelope icon"></i>
          <input type="email" id="correo" [(ngModel)]="correo" name="correo" class="form-control"
           />
        </div>
      </div>

      <div class="form-group mb-4">
  <label for="contrasena" class="form-label">Contraseña</label>
  <div class="input-group">
    <i class="bi bi-lock icon"></i>
    <input
      [type]="verContrasena ? 'text' : 'password'"
      id="contrasena"
      [(ngModel)]="contrasena"
      name="contrasena"
      class="form-control"
    />
    <span class="toggle-password" (click)="verContrasena = !verContrasena">
      <i [class]="verContrasena ? 'bi bi-eye-slash' : 'bi bi-eye'"></i>
    </span>
  </div>
</div>

      <p class="small text-muted">
        ¿No tienes una cuenta?
      <a href="/register" class="link">Regístrate aquí</a>
       
      </p>


      <button type="submit" class="btn btn-login w-100">
        Iniciar Sesión
      </button>

      <p class="text-muted small mt-3">© Nails Studio 2025</p>
    </form>
  </div>
</div>