/* You can add global styles to this file, and also import other style files */
.works-swiper .card {
  transition: transform 0.3s ease;
}

.works-swiper .card:hover {
  transform: scale(1.05);
}

.swiper-button-next,
.swiper-button-prev {
  color: #e91e63;
}
.carousel a.btn-get-started {
  pointer-events: auto !important;
  z-index: 9999;
  position: relative;
}
.works-swiper .swiper-slide img {
  max-height: 350px;
  object-fit: cover;
  width: 100%;
  border-radius: 12px;
}
.works-swiper .card {
  max-width: 280px;
  margin: auto;
}
