.module-card {
  background: #fff;
  border-radius: 12px;
  padding: 25px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

h3 {
  color: #50280d;
  font-weight: 600;
}

.btn-add {
  background-color: #50280d;
  color: #ffffff;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  font-weight: 500;
  transition: 0.3s;
}

.btn-add:hover {
  background-color: #3a1612;
}

.table {
  width: 100%;
  text-align: center;
  border-radius: 8px;
  overflow: hidden;
}

.table th {
  background-color:  #f0ba55;
  color:#50280d;
  font-weight: 600;
}

.estado-activo {
  color: #198754;
  font-weight: 600;
}

.estado-inactivo {
  color: #dc3545;
  font-weight: 600;
}

/* Acciones */
.acciones .btn {
  margin: 0 3px;
  border-radius: 6px;
}

.btn-edit {
  background-color: #f0ba55;
  color: #50280d;
}

.btn-edit:hover {
  background-color: #d29a3a;
}

.btn-delete {
  background-color: #dc3545;
  color: white;
}

.btn-delete:hover {
  background-color: #b02a37;
}

.btn-activate {
  background-color: #198754;
  color: white;
}

.btn-activate:hover {
  background-color: #157347;
}

.btn-deactivate {
  background-color: #6c757d;
  color: white;
}

.btn-deactivate:hover {
  background-color: #5c636a;
}
